service cloud.firestore {
  match /databases/{database}/documents {
     match /Organizations/{organizationId}{
          allow read:if request.auth.token.role =="superAdmin" || 
          (request.auth.token.organizationId==$organizationId &&
                      request.auth.token.role=="owner")          
          allow write:if request.auth.token.role=="superAdmin"	    }
  }
}

